@import "tailwindcss";

body {
  font-family: "Geologica", "Montserrat", sans-serif;
}

.font-lora {
  font-family: "Lora", serif;
}

::backdrop {
  background-color: hsl(12 20% 15% / 80%); /* rgba(86, 74, 70, 0.8) */
  animation: fadeIn 0.3s;
}

@keyframes reveal {
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer components {
  body {
    @apply bg-[#866f68] bg-[url('assets/bg.webp')] bg-cover bg-center bg-blend-overlay text-white pt-6 pb-8 px-4 md:px-12;
  }

  .reveal-right {
    clip-path: inset(0 100% 0 0);
    animation: reveal 0.7s ease-out forwards;
  }
  p.reveal-right {
    animation-delay: 0.5s;
  }

  .reveal-down {
    clip-path: inset(0 0 100% 0);
    animation: reveal 0.7s 1s ease-out forwards;
  }

  .project-card {
    @apply flex flex-col rounded-xl lg:w-[48%] xl:w-[32%] border-white border text-left opacity-0 cursor-pointer outline-0 focus:outline-4 transition-[outline] hover:outline-4 outline-white;
    animation: fadeIn 1s 2s ease-out forwards;
    /* max-height: 39rem; */
  }

  .project-card:nth-of-type(2) {
    animation-delay: 2.5s;
  }
  .project-card:nth-of-type(3) {
    animation-delay: 3s;
  }
  .project-card:nth-of-type(4) {
    animation-delay: 3.5s;
  }
  .project-card:nth-of-type(5) {
    animation-delay: 4s;
  }

  .project-card,
  dialog {
    @apply bg-red-900/20 bg-[url('assets/bg.webp')] bg-blend-multiply bg-center text-white;
  }

  dialog {
    animation: fadeIn 1s;
  }

  .project-description {
    @apply p-6;
  }

  .project-description h3 {
    @apply text-lg 2xl:text-xl font-medium border-b border-white pb-2 mb-4;
  }

  .project-description table {
    @apply w-full font-light;
  }

  .project-description th,
  .project-description h4 {
    @apply uppercase tracking-widest font-extralight text-left text-xs 2xl:text-sm;
  }

  .project-description td {
    @apply p-1 pl-4 text-sm 2xl:text-base;
  }

  dialog .project-description h3 {
    @apply hidden xl:block;
  }

  dialog .project-description table {
    @apply hidden xl:table;
  }

  .prev,
  .next {
    @apply cursor-pointer *:hover:fill-white disabled:pointer-events-none disabled:opacity-50;
  }
}
